#map {
	height: 500px;
	width: 100%;
}

/***********popup****************/
.contact-item a{
	font-size: 24px;
	text-decoration: none;
	color: rgb(255, 27, 27);
	font-family: 'Times New Roman', Times, serif;
	background: rgb(255, 255, 255);
	padding: 5px;
	text-align: center;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}
.contact-item a:hover{
	opacity: 80%;
}
.all#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}
#popup{
	width: 250px;
	height: 250px;
	position: fixed;
	top: 30%;
	margin-left: 40%;
	transform: translate(-50%, -50%);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
	display: grid;
}
#popup.active{
	visibility: visible;
	opacity: 1;
	transition: 0.5s;
	width: 250px;
	height: 250px;
}
#popup a{
	font-size: 24px;
	text-decoration: none;
	color: rgb(255, 27, 27);
	font-family: 'Times New Roman', Times, serif;
	background: transparent;
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
	box-shadow: 0 0 10px 0 rgb(0,0,0,0.5);
}
#popup a:hover{
	opacity: 80%;
	box-shadow: 0 0 10px 0 rgb(0,0,0,0.5);
}
.moreText{
	display: none;
}
.text.show-more .moreText{
	display: inline;
}

@media screen and (max-width: 690px){
	#popup{
		width: auto;
		position: fixed;
		top: 30%;
		margin-left: 40%;
		transform: translate(-50%, -50%);
		visibility: hidden;
		opacity: 0;
		transition: 0.5s;
		display: grid;
	}
	#popup.active{
		visibility: visible;
		opacity: 1;
		transition: 0.5s;
		width: 250px;
		height: 250px;
	}
	#popup a{
		font-size: 24px;
		text-decoration: none;
		color: rgb(255, 27, 27);
		font-family: 'Times New Roman', Times, serif;
		background: transparent;
		padding: 10px;
		text-align: center;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
		box-shadow: 0 0 10px 0 rgb(0,0,0,0.5);
	}
	#popup a:hover{
		opacity: 80%;
		box-shadow: 0 0 10px 0 rgb(0,0,0,0.5);
	}
}